<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Posto de Saúde Web</title>
</head>
<body>
	<h1>Cadastrar bairro</h1>

	<form method="POST" action="cadastrarBairro">
		
		<!-- CADASTRO DE BAIRRO -->
		<input type="text" name="nome" /> 
		<input type="submit" value="cadastrar" />
		
	</form>
	
	<br>
	<br>
	
	<!-- RETURN PRA INDEX -->
	<a href="/projeto/">
	<button id="voltar" value="voltar">voltar</button></a>
</body>
</html>

