<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Posto de Saúde Web</title>
</head>
<body>
	<h1>Consultas cadastrados</h1>
	
	<form method="POST" action="procurarConsultaPorStatus">
		<input type="text" name="statusConsulta" /> 
		<input type="submit" value="procurar" />
	</form>

	<table>
		<tr>
			<th>ID</th>
			<th>data e hora</th>	
			<th>Status</th>		
		</tr>
		<tr th:each="consulta : ${consultas}">
        <td th:text="${consulta.id}"></td>
        <td th:text="${consulta.dataHora}"></td>
        <td th:text="${consulta.status}"></td>
      </tr>
	</table>
	
	<a href="/projeto/">
	<button id="voltar" value="voltar">voltar</button></a>
	
</body>
</html>